<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite parallel="tests" name="All Test Suite">
    <listeners>
        <listener class-name="testComponents.listeners"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="ErrorValidationTest">
        <classes>
            <class name="tests.errorValidationsTest">
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true" name="SubmitOrderTest">
        <classes>
            <class name="tests.submitOrderTest">
            </class>
        </classes>
    </test>
</suite>